.topbar-area {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ffffff3d;
  background-color: transparent;
}
.nav-icon a {
  margin-left: 5px;
}

.nav-icon a:hover {
  color: white !important;
}
.topbar-list svg {
  font-size: 16px !important;
}
.topbar-list li {
  position: relative;
  list-style: none;
  display: inline-block;
  color: white;
  margin-right: 25px;
}
.topbar-list li::before {
  content: "";
  position: absolute;
  top: 5px;
  right: -15px;
  width: 1px;
  height: 15px;
  background-color: #dbdbdb78;
}
.dropdown button{
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 500;
  /* padding-right: 15px; */
}
.dropdown-menu.show {
  border-radius: 5px;
  border: 0;
  background-color: #fff;
  box-shadow: 0 0 1.25rem rgba(108, 118, 134, .1);
  padding: 0;
  margin-top: 10px !important;
  transform: translate(-80px, 25px) !important;
  z-index: 9999;
}
a.dropdown-item {
  color: grey !important;
  font-size: 14px;
  font-weight: 500;
  margin: 0 !important;
  padding: 10px 20px;
  border-bottom: 1px solid #eee;
  border-radius: 5px;
}
.left-drop {
  transform: translate(-80px, 25px) !important;
}
.dropdown button:after{
  display:none;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
  color: White;
  background-color: transparent !important  ;

}
button#language-dropdown-toggle {
  color: white;
  background-color: transparent;
}
button#currency-dropdown-toggle {
  color: white;
  background-color: transparent;
}
/* 2nd navbar */
.navbar {
  top: 0;
  width: 100%;
  color: white !important;
}
.navbar.sticky {
  position: fixed;
  /* overflow: hidden; */
  z-index: 9999;
  top: 0;
  left: 0;
  padding: 4px 0;
  width: 100%;
  color: white !important;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  background: #8b3eea !important;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  transition: 0.6s;
}
.navbar.sticky .btn_navber {
  border: 1px solid white;
}
.navbar-brand {
  padding: 0;
  margin-right: 60px;
}
.btn_navber {
  color: #fff;
  border: 2px solid #8b3eea;
  padding: 7px 10px;
  transition: 0.4s all ease-in-out;
  box-shadow: none;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin-left: 25px;
  z-index: 0;
}
.btn_navber:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 550px;
  height: 550px;
  margin: auto;
  border-radius: 50%;
  z-index: -1;
  transform-origin: top center;
  background: #8b3eea;
  transform: translateX(-51%) translateY(27%) scale(0.8);
  transition: 0.4s all ease-in-out;
}
.topbar-others-options li .language-option button::before {
  display: none;
}
.nav-item {
  position: relative;
  margin-right: 26px;
  /* margin-top: 10px; */
}
.navbar-nav .nav-item a {
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 0 !important;
  transition: .4s all ease-in-out;
  font-weight: 300;
  font-family: 'Poppins', sans-serif;
  position: relative;
}
.nav-item .nav-link::before {
  content: "";
  width: 0;
  height: 1px;
  bottom: -7px;
  position: absolute;
  left: auto;
  right: 0;
  z-index: 1;
  -webkit-transition: width .5s cubic-bezier(.25, .8, .25, 1) 0s;
  transition: width .5s cubic-bezier(.25, .8, .25, 1) 0s;
  background: var(--white-color);
}
.nav-item .nav-link:hover:before {
  width: 100%;
  left: 0;
  right: auto;
}
.nav-item .dropdown-menu {
  border: none;
  top: 40px;
  left: 0;
  z-index: 99;
  opacity: 0;
  width: 230px;
  display: block;
  border-radius: 8px;
  padding: 10px 0;
  margin-top: 15px;
  position: absolute;
  visibility: hidden;
  background: #fff;
  transition: all .2s ease-in-out;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, .1);
}
.nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}
.dropdown-menu li {
  margin: 0;
  padding: 10px 25px;
}
.dropdown-menu li .nav-link {
  padding: 0;
  display: inline-block;
  color: black;
  font-size: 15px;
  font-weight: 500;
  position: relative;
}
.dropdown-menu li:hover {
  background: #f7f7f7;
}
.dropdown-menu li .nav-link:hover {
  color: #8b3eea;
}
